<img src="TechLabs.png">

In [ ]:
James Anthony Persée

<h2>Please enter your full name here:</h2>


<p> This exam will test your knowledge in Data Science. </p>
<p> We will test the following: </p>
    
- Basic knowledge in Data Science
- How to manipulate data
- How to clean data
- Further data analysis

<h2>1. Basic Knowledge Test</h2>

A) Create a dictionary and a list.

In [ ]:
Dict = {X, Y, Z}
List = [X, Y, Z] 

#in R, it is a vector or a list. List <- c(X,Y,Z)/ List <- list(X, Y, Z)

B) Create your own array containing multiple lists (at least 5 rows and 4 columns).

In [ ]:
#In R, an array could be a dataframe compiling several lists in the following manner. To obtain 4 columns, we have to include 4 lists in the dataframe & each list must have 5 elements to build the row:
- Dataframe <- data.frame(list1(L1,M1,N1,O1,P1), list2(L2,M2,N2,O2,P2), list3(L3,M3,N3,O3,P3), list4(L4,M4,N4,O4,P4)

C) Convert your previous array into a pandas dataframe.

In [ ]:
#In R, dataframe could be created as visible above. (answer B)

 D) Please write a function that will start with the number 2 and will add 3 as long as the number is under 25.

In [ ]:
- n <- 2
- Function <- while (n < 25) {
n <- n + 3
}

E) Briefly explain what a lambda function is and its benefits over using regular functions.

In [ ]:
#I have not learned Lambda function in R. However, doing some research on Internet about Python, I can now answer that lambda functions can be used for any number of arguments but only have one expression.

F) What is the difference between relational and non-relational databases?

In [ ]:
#I don’t think I ever learned that in the R-track. However, doing some research, I now know that relational database stores data into tables with rows & columns like an Excel; while non-relational database store data on a non-tabular basis and actually optimize the storage of data depending on its type (document-oriented, key-value store, wide-column store, graph store)

<h2>2. Manipulating Data </h2>

Dataset used: "AB_NYC_2019.csv" </p>
In this part of the exam you will have to play around with a dataset and display subsets of the data.

In [1]:
dplyr, readr, tidyr, ggplot2

A) Load "AB_NYC_2019.csv",  drop all null values, and name it "df".

In [ ]:
 
- read_csv("AB_NYC_2019.csv")
- df <- data.frame(“AB_NYC_2019.csv”)
- df <- na.omit(df)

B) Within the dataframe "df", permanently rename the column "name" to "listing_name".

In [ ]:
df <- df %>% rename(“listing_name” = “name”

C) Drop the column host_id. Save the new dataframe again under the name "df".

In [ ]:
df <- select(df, -host_id)

D) Only show listings with a price higher than the average price. Sort the dataframe by price in an ascending order.

In [ ]:
- filter(df, price > mean(price))
- Arrange (df, price)

E) Only show listings that have more than the average reviews and that are available for more than 10 nights (column "minimum_nights"). Sort the dataframe by reviews in a descending order.

In [ ]:
- filter(df, number_of_reviews > average(number_of_reviews) & minimum_nights > 10)
- Arrange (df, desc(number_of_reviews)

F) Display the number of listings per neighbourhood and only display those neighbourhoods with more than 1000 listings.

In [ ]:
g_neighbourhood <- df %>% group_by(neighbourhood) %>% filter(df, count(neighbourhood) > 1000)

G) Display the number of the different types of rooms (column "room_type") per neighbourhood.

In [ ]:
count(df, room_type)

H) Replace the values within "room_type" with numerical values, i.e. 0 for "private room", 1 for "Entire home/apt", and 2 for "Shared room". </p>
Save the new dataframe again under the name "df".

In [ ]:
df <- df %>% replace(df$room_type,c(« private room », « Entire home/apt”, “Shared room”),c(0,1,2))

I) Display a bar chart using the distplot (from the seaborn library) that shows the neighbourhood on the x-axis and the number of listings on the y-axis.

In [ ]:
#Using ggplot 2 in R : 
- ggplot(df,aes(neighbourhood))+ geom_bar()

J) Scale the column "price" and the column "number_of_reviews" using a method that seems appropriate in your opinion. </p>
Save the new dataframe again under the name "df".

In [ ]:
df %>% mutate_at(c(“price”, “number_of_reviews”), ~(scale(« price”, “number_of_reviews”) %>% as.vector))

<h2>3. Cleaning Data</h2>

Dataset used: "defaults.xls"

In [3]:
readxl, tidyr, dplyr

A) Load the dataset "defaults.xls" and save it under the name "defaults". Display the datatypes of all columns of the dataset "defaults.xls".

In [ ]:
- defaults <- read.xls(« defaults.xls”)
- Str(defaults)

B) Some column(s) might not be needed. Get rid of them. Explain why you get rid of the respective column(s). </p>
Save the new dataframe again under the name "defaults".

In [ ]:
defaults <- select(defaults, -Sex)

#I decided to remove the column Sex since the grant of a credit should not be based on sex (which would make it discriminatory). All other variables are relevant: the degree of education might be positively correlated with a salary, and therefore the credit amount; a person’s marriage allows to know whether the person has a potential person of emergency in case he or she can no longer pay his/her debts; Age also allows to determine a risk factor since the older the person is, the higher the risk he/she will not have time to pay back his/her debt, therefore the amount should be reduced. Eventually, defaults supposedly qualify whether the person already defaulted on his or her debt and is very relevant since we might assume a person who already defaulted might default again in the future since he or she might not be able to manage his/her debt management properly.

C) Convert all categorical values into dummy variables. Only include columns with valuable information. </p>
Save the new dataframe again under the name "defaults".

In [ ]:
- defaults <- defaults %>% replace(defaults$education, c(“university”,”graduate school”,”high school”,”others”), c(0,1,2,3))
- defaults <- defaults %>% replace(defaults$marriage, c(“married”, “single”, “others”), c(0,1,2))

D) In order to run a model, we have to define now the X and y variables. Set the y values to the "default" (either 0 or 1). The remaining columns represent the X values.

In [ ]:
#Credit_limit is the Y
Credit_limit <- 0

#Education, Marriage, Age & Default are the X values

<h2>4. Further Data Analysis</h2>

A) Please evaluate the importance of each feature of the X values on the y value of the previous exercise using any tree ensamble algorithm and display the results graphically. Please comment your findings. Please tell us what you did and why you did it.

In [ ]:
#I will run a random forest tree classifier to understand the relationship between the dependent variables X (Education, Marriage, Age, Default) and the independent variable Y (Credit_limit)

#Using the caret package, I train my model
my_model <- train (credit_limit ~ Education + Marriage + Age + Default, data = defaults, method = “rf”)

#I then visualize using ggraph: 
plot <- ggraph(my_model, ‘dendrogram’)

#My graph did not work and I don’t know why even if I tweaked It several times… but I can assume that we can see a succession/hierarchy of choices by clusters.

B) Please assess how accuarely we can predict, whether a customer will default or not using Support Vector Machines. As always plase explain your work.

In [ ]:
#I don’t think I ever studied Support Vector Machines… I would not know an equivalent in R.

C) Now let's see how accurate the XGBoost algorithm can predict, whether a customer will default or not better than the previous SVM. Please give us the accuracy score and standard deviation. Choose an appropiate model for testing and training.

In [ ]:
#I don’t think I ever studied XGBoost algorithm… I would not know an equivalent in R.